<mat-grid-list cols="5" rowHeight="500px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div class="example-container">
      <form [formGroup]="student" (ngSubmit)="editStudent()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput placeholder="student number" [formControl]="numberControl">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="student name" [formControl]="nameControl">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <div>
            <label>sex </label>
            <mat-radio-group [formControl]="sexControl">
              <mat-radio-button [value]="1">
                <mat-icon>man</mat-icon>
              </mat-radio-button>
              <mat-radio-button [value]="0">
                <mat-icon>woman</mat-icon>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div>
          <mat-form-field>
            <mat-label>address</mat-label>
            <textarea matInput [formControl]="addressControl"></textarea>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button routerLink="/student">Cancel</button>
          <button mat-raised-button style="float: right" color="primary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>


